body {
	background: rgb(0,0,0) url(/assets/images/bg3.png)no-repeat top;
	background-size: 100%;
}
.gamers-content {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 20px;
	position: relative;
	background: rgba(0,0,0,0.7);
}
.join_us {
	display: block;
	width: 269px;
	height: 50px;
	background: url(/assets/images/join_us.png) no-repeat;
	margin-left: 5px;
}
a.tooltip {outline:none; display:inline-block; width: 150px; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 15px;
    margin-top:6px;
    line-height:16px;
}
a.tooltip span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:11px;border:0;left:-12px;}
    
a.tooltip {
	width: 110px!important;
}
a.tooltip span {
	margin-left: 5px;
	margin-top: 2px!important;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border-radius: 5px;
}
.sidebar .sharePage .shareControl
{
	margin-top: 10px;
	min-height: 23px;
	padding: 5px 20px !important;
}

.sidebar .sharePage iframe
{
	width: 200px;
	height: 20px;
}

.sidebar .sharePage iframe.fb_ltr
{
	_width: 200px !important;
}

.sharePage .facebookLike .label
{
	font-size: 11px;
	line-height: 24px;
	float: left;
	margin-right: 7px;
	display: none;
}
.sidebar .sharePage .facebookLike iframe
{
	z-index: 52;
}

.mast .sharePage .secondaryContent
{
	overflow: visible !important;
}

#sidebar_share .secondaryContent{
	background-color: #000;
}

.sharePage h3 {
	background: #343434 !important;
	background: -moz-linear-gradient(top, #343434 0%, #1b1b1b 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(100%,#1b1b1b)) !important;
	background: -webkit-linear-gradient(top, #343434 0%,#1b1b1b 100%) !important;
	background: -o-linear-gradient(top, #343434 0%,#1b1b1b 100%) !important;
	background: -ms-linear-gradient(top, #343434 0%,#1b1b1b 100%) !important;
	background: linear-gradient(to bottom, #343434 0%,#1b1b1b 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#1b1b1b',GradientType=0 ) !important;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.75) !important;
	-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.75) !important;
	box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.75) !important;
	text-align: center !important;
}

.sectionMain .marginFix{
	background-color: transparent !important;
}
#fake_facebook_button {
	pointer-events: none !important;
	z-index: 999999 !important;
	display:inline-block;
	width: 50px;
	height: 50px;
	background-image: url('/assets/images/fb.png') !important;
    	background-repeat: no-repeat !important;
    	background-position: 100% 100%;
}

#fake_gplus_button {
	pointer-events: none !important;
	z-index: 999999 !important;
	display:inline-block;
	width: 50px;
	height: 50px;
	background-image: url('/assets/images/g.png') !important;
    	background-repeat: no-repeat !important;
    	background-position: 100% 100%;
}

.share{
	margin-left: 5px;
}
.share > .top{
	background-position: 0 -60px!important; 
	height: 62px!important;
	margin-bottom: 0px;
}
.share > .content{
	background: url(/assets/images/index_share_middle.png) repeat-y;
	height: 50px;
}
.share > .down{
	background-position: -57px -40px!important; 
	height: 10px!important;
}
a.tooltip {
	width: 110px!important;
}
a.tooltip span {
	margin-top: 2px!important;
	webkit-border-radius: 5px;
	moz-border-radius: 5px;
	border-radius: 5px;
}
.share .top {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(/assets/images/index.png);
	background-origin: padding-box;
	background-position: 0px -60px;
	background-size: auto;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	font-family: Arial, Verdana, 微軟正黑體;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 62px;
	line-height: 11px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 269px;
	zoom: 1;
}
.share .content {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(/assets/images/index_share_middle.png);
	background-origin: padding-box;
	background-size: auto;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	font-family: Arial, Verdana, 微軟正黑體;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 92px;
	line-height: 11px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	width: 269px;
	zoom: 1;
}
.share .down {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(/assets/images/index.png);
	background-origin: padding-box;
	background-position: -57px -40px;
	background-size: auto;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	font-family: Arial, Verdana, 微軟正黑體;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 10px;
	line-height: 11px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 269px;
	zoom: 1;
}
#facebookSection {
	margin-left: 5px;
}
#facebookSection > .top {
	-webkit-background-clip: border-box;
	-webkit-background-origin: padding-box;
	-webkit-background-size: auto;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-image: url(/assets/images/index.png);
	background-origin: padding-box;
	background-position: -633px -23px;
	background-size: auto;
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(0, 0, 0);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(0, 0, 0);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(0, 0, 0);
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(0, 0, 0);
	display: block;
	font-family: Arial, Verdana, 微軟正黑體;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 63px;
	line-height: 11px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 270px;
	zoom: 1;
}

#facebookSection > .content {
	background: url(/assets/images/index_fb_middle.png) repeat-y;
	height: initial!important;
	padding: 0 10px;
	width: 100%!important;
}

#facebookSection > .down {
	background: url(/assets/images/index.png) no-repeat;
	background-position: -633px 0!important;
	height: 13px!important;
	margin-bottom: 10px;
}

header.navigation .content > *{
	display: inline-block;
}
header.navigation .nav-item a {
	color: #ffffde;
	display: block;
	font-size: 15px;
	font-weight: bold;
	padding: 10px;
	text-decoration: none;
}
header.navigation .nav-item a.active {
	background: rgba(128,0,0,.7);
}
header.navigation .nav-item a:hover {
	background: rgba(128,0,0,.7);
}
header.navigation li.nav-item {
	display: inline-block;
	margin: 0 10px;
	font-weight: bold;
	color: #FFFFFF;
}
header.navigation ul.nav {
	position: absolute;
	bottom:1;
	left:220px;
}
header .content {
	height: 84px;
	width: 996px;
	margin: 0 auto;
	position: relative;
}
header {
	width: 100%;
	background: url(/assets/images/header_menu_bg.png) center center no-repeat;
	background-size: cover;
	height: 84px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}