.streamsNavigation {
	height: 40px;
	width: 100%;
	position: relative;
}
.streamContainer .rightContainer {
	padding-left: 10px;
	box-sizing: border-box;
	width: 350px;
	float: right;
}
.streamContainer .stream {
	overflow: hidden;
}
.streamContainer .rightContainer .chat {
	margin-top: 10px;
}
.streamsNavigation .navbar {
	line-height: 40px;
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	position: absolute;
	z-index: 2;
}
.streamsNavigation .navbar li {
	color: #FFFFFF;
	display: inline;
}
.streamsNavigation .navbar li a {
	color: #FFFFFF;
	margin: 0 5px;
	text-decoration: none;
}
.streamsNavigation .redbar {
	background-color: #800806;
	height: 40px;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
body {
	background: rgb(0,0,0) url(/assets/images/bg3.png)no-repeat top;
	background-size: 100%;
}
.gamers-content {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 20px;
	position: relative;
	background: rgba(0,0,0,0.7);
}
.bottom-container .rightContainer {
	padding-left: 10px;
	box-sizing: border-box;
	width: 285px;
	float: right;
}
.num-tg-first {
	font-size: 34px;
	font-weight: bold;
	background: -webkit-linear-gradient(top, #FDBD1B, #FD841B);
	background: linear-gradient(top, #FDBD1B, #FD841B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: none;
}
.num-tg {
	font-size: 24px;
	font-weight: bold;
}
.num-sched {
	font-size: 15px;
	font-weight: bold;
}
.sched {
	font-size: 13px;
}
.sched-li {
	padding: 10px 10px !important;
}
#schedule {
	overflow: hidden;
}
#schedule .divider {
	position: absolute;
	left: 55px;
	width: 0px;
	min-height: 258px;
	height: 89%;
	border-right: 1px solid #000;
	border-left: 1px solid #656565;
}
#schedule h3 {
	font-size: 18px;
	color: rgb(252, 252, 255);
	background-color: rgb(0, 36, 62);
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-shadow: 0 0 0 transparent, 0 -1px 0 #424242;
	font-weight: 700;
	background: #343434 !important;
	background: -moz-linear-gradient(top, #343434 0%, #1b1b1b 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343434), color-stop(100%,#1b1b1b)) !important;
	background: -webkit-linear-gradient(top, #343434 0%,#1b1b1b 100%) !important;
	background: -o-linear-gradient(top, #343434 0%,#1b1b1b 100%) !important;
	background: -ms-linear-gradient(top, #343434 0%,#1b1b1b 100%) !important;
	background: linear-gradient(to bottom, #343434 0%,#1b1b1b 100%) !important;
	-moz-box-shadow: 0px 3px 3px 0px #080808;
	-webkit-box-shadow: 0px 3px 3px 0px #080808;
	box-shadow: 0px 3px 3px 0px #080808;
}
.TG-content ul li {
	font-size: 13px;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #656565;
	padding: 20px 15px;
	text-shadow: 0 -2px #161616;
	color: #FFFFFF;
}
.first-li {
	border-top: 0 !important;
	font-size: 14px !important;
	padding: 35px 15px !important;
}
.last-li {
	border-bottom: 0 !important;
}
.list-group {
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #4A4A4A),
		color-stop(1, #242424)
	);
	background-image: -o-linear-gradient(bottom, #4A4A4A 0%, #242424 100%);
	background-image: -moz-linear-gradient(bottom, #4A4A4A 0%, #242424 100%);
	background-image: -webkit-linear-gradient(bottom, #4A4A4A 0%, #242424 100%);
	background-image: -ms-linear-gradient(bottom, #4A4A4A 0%, #242424 100%);
	background-image: linear-gradient(to bottom, #4A4A4A 0%, #242424 100%);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}
.num-sched {
	width: 100px;
	vertical-align: top;
	display: inline-block;
	margin-right: 10px;
}
.sched-detail {
	display: inline-block;
	margin-right: 10px;
}
.bottom-container {
	margin-top: 10px;
}